@import "src/colors";
@import "src/themes";

.input-group {
    position: relative;

    &__field {
        width: 100%;
        min-height: 44px;
        padding: 10px 15px;
        border-radius: 25px;
        //border: 1px solid #e0e0e0;
        @include color-assign(border, accent, '1px solid THEMECOLOR');
        @include color-assign(background-color, secondary);
        @include color-assign(color, font-color--primary);
        box-sizing: border-box;
        font-weight: 400;
        font-size: 1rem;
        resize: vertical;

        transition: all .2s ease-in-out, height 0ms;

        &::-webkit-scrollbar {
            display: none;
        }

        &_noresize {
            resize: none;
        }

        &:focus {
            outline: none;
            border: 1px solid $color-blue;
        }
        &:placeholder-shown {
            text-overflow: ellipsis;
        }

        &:not(:placeholder-shown) + .input-group__label,
        &:focus + .input-group__label {
            color: $color-blue;
            @include color-assign(background-color, secondary);
            padding: 0;
            font-size: .9rem;
            top: -5px;
            left: 15px;
            line-height: 10px;
        }

        &_error {
            border-color: $color-red !important;
        }

        &:not(:placeholder-shown) + .input-group__label_error,
        &:focus + .input-group__label_error {
            color: $color-red !important;
        }
    }

    &__label {
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        line-height: 40px;
        //color: #e0e0e0;
        @include color-assign(color, font-color--secondary);
        padding: 0 5px;
        transition: all .2s ease-in-out;

        &:not(:placeholder-shown):not(:focus) + .input-group__label {
            @include color-assign(color, font-color--primary);
        }

    }
}

.error {
    color: $color-red;
    display: flex;
    min-height: 20px;
    font-size: small;
    padding-left: 15px;
    align-items: center;
    opacity: 0;
    transition: all .2s ease-in-out;

    &_show {
        opacity: 1;
        margin: 0 0 15px;
    }
}
