@import "src/themes";

.labeled-toggle {
    display: grid;
    grid-template-areas: ".     toggle"
                         "small toggle";
    margin: 20px 0;
}
.labeled-toggle .toggle {
    margin-left: auto;
}
.labeled-toggle:last-child {
    grid-area: small;
    font-size: small;
    @include color-assign(color, font-color--secondary);
    margin: 0;
}