<div class="offer__wrap">
    <h2 class="offer__wrap__title">Ваша лента подписок пуста</h2>
    <span class="chat__window__messages__help">Подпишитесь, чтобы заполнить ленту</span>
    {{{list}}}
</div>