@import "src/colors";
@import "src/themes";

.btn {
    display: flex;
    position: relative;
    cursor: pointer;

    height: 40px;
    min-height: 24px;
    line-height: 40px;
    padding: 0 1.5rem;
    overflow: hidden;
    @include color-assign(background-color, secondary);
    @include color-assign(color, font-color--primary);

    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    outline: none;
    border: none;
    border-radius: 25px;

    transition: all .3s ease-out;
    box-shadow: $box-shadow-secondary;

    & i, svg {
        pointer-events: none;
    }
}
.btn:hover {
    text-decoration: none;
    box-shadow: $box-shadow-primary;
}
.btn_round {
    padding: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.btn_round_mini {
    width: 24px;
    height: 24px;
}
.btn_with-icon svg {
    display: inline-block;
    float: none;
    height: 50%;
    font-size: inherit;
    text-align: center;
    vertical-align: middle;
}

.btn[disabled] {
    cursor: default !important;
    @include color-assign(color, font-color--primary, 'THEMECOLOR !important');
    @include color-assign(background-color, secondary, 'THEMECOLOR !important');
    box-shadow: none !important;

}
.btn[disabled]:hover {
    background-color: #cdcdcd !important;
}

/* ------- COLORS ------- */
.btn_red {
    @include color-assign(color, font-color--primary);
    background-color: $color-red;
}
.btn_red:hover {
    background-color: $color-red-dark;
}

.btn_green {
    @include color-assign(color, font-color--primary);
    background-color: $color-green;
}
.btn_green:hover {
    background-color: $color-green-dark;
}

.btn_blue {
    @include color-assign(color, font-color--primary);
    background-color: $color-blue;
}
.btn_blue:hover {
    background-color: $color-blue-dark;
}
