@import "src/colors";
@import "src/themes";

.notification {
    position: relative;
}
.notification__bell {
    @include color-assign(color, font-color--primary);
}
.notification__count {
    position: absolute;
    bottom: 0;
    left: 10px;

    display: inline-block;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include color-assign(color, font-color--white);
    background-color: $color-green;
    border-radius: 25px;
    padding: 0 5px;
    font-size: smaller;

    transition: all .3s ease-in-out;
}