.board {
    display: flex;
    margin: 25px;
}
.board > a:hover {
    text-decoration: none;
}

.board__card {
    width: 300px;
    height: 200px;

    display: grid;

    grid-template-areas: "first second"
                         "first third";

    text-decoration: none;
    background: rgba(255, 255, 255, 1);

    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.board__card img {
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-color: #dddddd;

    transition: all .3s ease-in-out;
}
.board__card img:first-child {
    grid-area: first;
}
.board__card img:nth-child(even){
    grid-area: second;
}
.board__card img:last-child {
    grid-area: third;
}

.board__title {
    grid-area: title;
}
.board__title > h2 {
    width: 300px;
    margin: 10px 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.board__title > p {
    font-weight: normal;
    margin: 5px 0;
    color: #5A6169;
}