<div class="boardbar" id="{{id}}" data-act="{{type}}">
    <span class="boardbar__title">{{{title}}}</span>
    <div class="boardbar__btn {{#if active}}boardbar__btn_active{{/if}}">{{{btn}}}</div>
</div>