<div class="navbar">

    <ul class="navbar__links">
        <li><a href="/">Главная</a></li>
        <li><a href="/profile">Профиль</a></li>
        <li><a href="/signup">Регистрация</a></li>
        <li><a href="/login">Вход</a></li>
    </ul>
</div>