<div class="create-board-form">
    <div class="create-board-form__pin">
        {{{pinImg}}}
    </div>

    <div class="create-board-form__form">
        <h2>Создать доску и прикрепить пин</h2>
        {{{title}}}
        {{{description}}}
        {{{btnCreate}}}
    </div>
</div>