<div class="modal-window" id="{{id}}" aria-hidden="true">
    <div class="modal-window__wrap">
        <div class="modal-window__window" role="dialog" aria-modal="true">
            <button data-close class="modal-window__close"><img class="modal-window__close__icon" src="/img/close.svg" alt="close"></button>

            <div class="modal-window__window__content">{{{content}}}</div>
        </div>
    </div>
</div>