.message {
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    background-color: #e6e7ec;
    max-width: 600px;
    width: fit-content;
    position: relative;
    margin: 15px 0 20px;
    word-break: break-all;
}
.message_own {
    color: #fff;
    margin-left: auto;
    background-color: #0086e4;
}
.message__time {
    position: absolute;
    left: 10px;
    bottom: -20px;
    color: #5A6169;
}
.message__time__own {
    position: absolute;
    left: auto;
    right: 0;
}