<div class="dropdown">
    <a href="" class="pin__info__select btn__link__common" id="dropdown"><i class="fas fa-clipboard"></i></a>
    <ul class="dropdown-el" id="dropdown-list">
        <span>Доступные доски</span>
        {{#each options}}
            <li class="select__list__item">
                <label> <span>{{this.title}}</span> <input type="checkbox" value="{{this.id}}"> </label>
            </li>
        {{/each}}
    </ul>
</div>



