<div class="select__container">
    <div class="select__button" id="show">
        <div class="select__button__label">Доступные доски</div>
    </div>

    <div class="select__list no-display" id="list">
        <ul id="{{id}}">
            {{#each options}}
                <li class="select__list__item">{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>



