{{{ navbar }}}

<div class="pin-creation-layout__image-input">
    <img class="pin-creation__img" src="" id="preview" alt="">
    <a href="" id="reset-preview"><i class="fas fa-times"></i></a>
    <p class="pin-creation__upload__icon"><i class="fas fa-file-upload"></i></p>
    <span>Нажмите для загрузки</span>
    <input type="file" id="file">
</div>