{{{ navbar }}}

<div class="pin-creation-layout__image-input">
    {{{ img }}}

    {{{ reset }}}

    <p class="pin-creation__upload__icon"><i class="fas fa-file-upload"></i></p>
    <span>Нажмите для загрузки</span>

    {{{ input }}}
</div>