<div class="comment">
    <span class="comment__author">@<a href="/@{{ username }}">{{ username }}</a></span>
    <span class="comment__time">{{ time }}</span>
    <span class="comment__text">{{ content }}</span>
</div>