<div class="emoji-picker-wrap dropdown" id="{{id}}">
    <div class="emoji-picker">
        <div class="emoji-picker__tabs">
            <label for="smiles" class="emoji-picker__tabs__tab">
                <input class="emoji-picker__tabs__tab__input" type="radio" id="smiles" checked name="emoji-picker">
                {{{smileIcon}}}
            </label>

            <label for="stickers" class="emoji-picker__tabs__tab">
                <input class="emoji-picker__tabs__tab__input" type="radio" id="stickers" name="emoji-picker">
                <img class="emoji-picker__tabs__tab__icon" src="/img/pack1/pack.png">
            </label>
        </div>

        {{{list}}}
    </div>
</div>

