.card {
    overflow: hidden;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #a0a0a0;
    position: relative;
    transition: all .3s ease-in-out;
}

.card a {
    display: block;
    height: 100%;
}

.card__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card__content {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: all .3s ease-in-out;
    color: white;
    padding: 15px;
    width: 85%;

}

.card:hover .card__content {
    opacity: 1;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

.card__like {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.card__like:focus {
    outline: none !important;
}

.card__like:hover {
    color: #ED213A;
}

.card__time {
    position: relative;
}

.card__time span {
    margin-left: 5px;
    padding: .3rem .5rem;
    font-size: .9rem;
    font-weight: 500;
    color: #000000;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
    user-select: none;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.card__time:hover span {
    opacity: 0.5;
}