@import "src/colors";
@import "src/themes";

.card__link {
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.card {
    overflow: hidden;
    border-radius: 25px;
    border: none;
    box-shadow: $box-shadow-primary;

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start;
    position: relative;

    will-change: transform;
    transition: all .3s ease-in-out;
}
.card:hover {
    transform: scale(1.01);
    box-shadow: $box-shadow-primary-hover;
}
.card:hover .card__actions {
    opacity: 1;
}

.card__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.card__actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 19px;

    opacity: 0;
    transition: all .3s ease-in-out;
}

.card__actions__like {
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    border: none;
    display: inline-block;
    background-color: transparent;

    @include color-assign(fill, font-color--white);
    transition: all .3s ease-in-out;
}
.card__actions__like:hover, .card__actions__like__active {
    fill: $color-red;
    opacity: 1;
}
.card__actions__like:focus {
    outline: none;
}