<div class="card">
    <a href="pin/{{ id }}">
        <img class="card__img" src="{{ imgSrc }}" alt="">

        <div class="card__content">
            <button class="card__like"><i class="far fa-heart"></i></button>
            <span class="card__time">
                <i class="far fa-calendar-alt"></i> <span>{{ pubDate }}</span>
            </span>
        </div>
    </a>
</div>