<!--<a href="" data-popup="#pinView">-->
<a href="/pin/{{id}}" class="card__link">
    <div class="card">
        <img class="card__img" id="pin{{id}}" src="{{img_link}}" style="min-height: 350px" alt="">

        <div class="card__actions">
            <button class="card__actions__like" data-activates='dropdown1' data-origin-pin="{{id}}">
                <svg class="heart" viewBox="0 0 48 48">
                    <path d="M34,6c-4.176,0-7.852,2.137-10,5.372C21.851,8.137,18.176,6,14,6C7.373,6,2,11.373,2,18c0,11.943,22,24,22,24s22-11.955,22-24C46,11.373,40.627,6,34,6"></path>
                </svg>
<!--            TODO: card__actions__delete, card__actions__edit        -->
            </button>
        </div>
    </div>
</a>