{{{ navbar }}}

<div class="chat">
    {{{ sidebar }}}

    <div class="messages__content">
        <div class="messages__content__wrap">
            <ul>
                <li>Fdjhsdfkhdsgkflhdskgnslkdfdsf</li>
                <li>Fdjhsdfkhdsgkflhdskgnslkdfdsf</li>
                <li>Fdjhsdfkhdsgkflhdskgnslkdfdsf</li>
                <li>Fdjhsdfkhdsgkflhdskgnslkdfdsf</li>
            </ul>
        </div>
    </div>
</div>