<div class="image-upload__wrap" id="{{id}}">
    {{{img}}}
    {{{reset}}}
    {{{input}}}
    <div class="image-upload__label">
        <div>
            <p class="image-upload__label__icon"><i class="fas fa-file-upload"></i></p>
            <span>Нажмите или перетащите файл для загрузки</span>
        </div>
    </div>
</div>
