<div class="navbar" id="navbar">
    <ul class="navbar__links">
        <li>{{{ notification }}}</li>

        <li><a href="/">Главная</a></li>
        {{#if isAuth}}
            <li><a href="/@{{username}}">Профиль</a></li>
            <li><a href="" id="logout">Выход</a></li>
        {{else}}
            <li><a href="/signup">Регистрация</a></li>
            <li><a href="/login">Вход</a></li>
        {{/if}}
    </ul>
</div>

<!-- TODO: поменять ссылки на те что в const routes -->