@import "src/colors";
@import "src/themes";

@mixin largescreen {
  @media only screen and (min-device-width: 768px) and (min-width: 768px) {
    @content;
  }
}


.brand {
  padding: 0;
  display: inline-flex;
  margin: 0 auto 0 0;
  height: 60px;
  width: 100px;
  box-sizing: border-box;
  @include color-assign(color, font-color--primary);
}
.brand:hover {
  color: $color-blue;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  min-height: 60px;

  @include color-assign(color, font-color--primary);
  @include color-assign(background-color, secondary);
  box-shadow: $box-shadow;
  transition: .3s ease-in-out;

  // Media Query for Desktop
  @include largescreen {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .navbrand {
    display: flex;
    flex-grow: 1;
    height: 60px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .burger {
      display: flex;
      margin-left: 80px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      transition: all .3s ease;

      &-close {
        display: none;
      }

      &.active {
        .burger-open {
          display: none;
        }
        .burger-close {
          display: flex;
        }
      }

      // Media Query for Desktop
      @include largescreen {
        display: none;
      }
    }

    &__messages-icon {
      margin: 2rem;
    }

  }

  .menu {
    list-style: none;
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: all .3s ease;

    &-item {
      height: 45px;
    }

    &-link {
      display: flex;
      height: 100%;
      align-items: center;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      line-height: inherit;
      @include color-assign(color, font-color--primary);
      text-transform: uppercase;
      transition: all 0.3s ease;

      &:hover {
        color: $color-blue;
      }
    }

    &.active {
      height: auto;
    }

    // Media Query for Desktop
    @include largescreen {
      display: flex;
      float: right;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: auto;
      margin: 0;

      &-item {
        padding: 0 40px;
        height: 60px;
      }
    }
  }
}
