<div class="navbar" id="navbar">

    <a href="/search" class="btn__link__common"><i class="fas fa-search"></i></a>

    <ul class="navbar__links">

        <li><a href="" id="showNotifs"><i class="far fa-bell"> {{ num }}</i></a></li>

        <li><a href="/">Главная</a></li>
        {{#if isAuth}}
            <li><a href="/@{{username}}">Профиль</a></li>
            <li><a href="" id="logout">Выход</a></li>
        {{else}}
            <li><a href="/signup">Регистрация</a></li>
            <li><a href="/login">Вход</a></li>
        {{/if}}
    </ul>
</div>

<!-- TODO: поменять ссылки на те что в const routes -->