.userbar {
  display: inline-flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  transition: .3s ease;

  .avatar {
    margin-right: 10px;
  }

  &:hover {
    background-color: #eaeaea;
  }
}