<div class="notification">
    <div class="notification__btn" id="showNotifications">
        <i class="far fa-bell"> {{ notificationsNum }}</i>
    </div>

    <div class="notification__list no-display" id="notificationList">
        <ul>
            {{#each options}}
                <li class="notification__list__item">{{ this }}</li>
            {{/each}}
        </ul>
    </div>
</div>
