{{{navbar}}}

<div class="layout__container board-creation">
    <div class="wrap">
        <div class="wrap__right">
            <div class="wrap__right__title">
                <h1 class="wrap__right__title__large">Создание доски</h1>
            </div>
            {{{form}}}
        </div>
    </div>
</div>