@use "../layoutPresets/layout";
@import "../../themes";

.content-grid {
    /* TODO: нормальная адаптивная плитка получится только с js */
/*    columns: 7;
    column-gap: 1rem;*/
    justify-content: center;

    /*flex-wrap: wrap;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/

    margin: 0 auto;
    padding: 0;

    position: absolute;

}
/*

@media (max-width: 1850px) {
    .content-grid {
        columns: 6;
    }
}

@media (max-width: 1580px) {
    .content-grid {
        columns: 5;
    }
}

@media (max-width: 1350px) {
    .content-grid {
        columns: 4;
    }
}

@media (max-width: 1100px) {
    .content-grid {
        columns: 3;
    }
}

@media (max-width: 850px) {
    .content-grid {
        columns: 2;
    }
}

@media (max-width: 580px) {
    .content-grid {
        columns: 1;
    }
}
*/

.content-grid__item {
    display: inline-block;
    position: absolute;

    width: 15rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
}

.create {
    position: fixed;
    z-index: 999;
    bottom: 1rem;
    right: 1rem;
    @include layout.largescreen {
        bottom: 1.7rem;
        right: 2rem;
    }

    &__dropdown {
        position: fixed !important;
    }

    &__link {
        display: flex;
        align-items: center;
        border-radius: 25px;
        transition: .3s ease-in-out;
        padding: .7rem 2rem;
        &:hover {
            text-decoration: none;
            @include color-assign(background-color, accent);
        }
    }
}