{{{navbar}}}

{{#each users}}
    {{{this}}}
{{/each}}

<div class="content-grid">
    {{#each pins}}
        <div class="content-grid__item">
            {{{this}}}
        </div>
    {{/each}}
</div>

{{{popup}}}
