@import "src/colors";
@import "src/themes";

.checkbox__label {
    margin: 0 5px;
    display: block;
    cursor: pointer;
}
.checkbox__group {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid $color-blue;
    border-radius: 5px;
}
.checkbox__input:checked + .checkbox__checked {
    opacity: 1;
}
.checkbox__checked {
    content: '';
    width: 4px;
    height: 10px;
    margin-top: -2px;
    border-right: 2px solid $color-blue;
    border-bottom: 2px solid $color-blue;
    opacity: 0;
    transform: rotate(30deg);
    transition: .2s;
}