<label for="{{id}}" class="checkbox__label {{custom}}">
    <div class="checkbox__group">
        <input type="checkbox" class="checkbox__input" id="{{id}}" hidden />
        <span class="checkbox__checked"></span>
    </div>
    <span>{{text}}</span>
</label>