<aside id="{{ id }}" class="sidebar expand">
    <ul class="sidebar__list">
        <li class="sidebar__list__item">
            <a href="" id="sidebar-toggler"><i class="fas fa-angle-right list__item__icon rotate"></i></a>
        </li>

        {{#each messages}}
            <li class="sidebar__list__item">{{{ this }}}</li>
        {{/each}}
    </ul>
</aside>