@import "src/colors";
@import "src/themes";

.dialog {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 10px auto;
    width: 100%;

    .avatar {
        min-width: 40px;
    }
}
.dialog_unread {
    @include color-assign(background-color, secondary);
}
.dialog__content {
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
}
.dialog__content__user {
    font-weight: bolder;
}
.dialog__content__text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dialog__info {
    display: flex;
    position: relative;
    height: 100%;

    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: smaller;
}
.dialog__info__count {
    position: absolute;
    bottom: 0;

    display: inline-block;
    max-width: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: $color-green;
    border-radius: 25px;
    padding: 0 6px;
    @include color-assign(color, font-color--white);
}
