<form class="search">
    <input type="checkbox" id="toggleSearch" class="search__toggle" hidden />
    <div class="search__field">
        <label for="toggleSearch" class="search__label">
            <span class="search__close"></span>
        </label>

        <input type="text" class="search__input" placeholder="{{placeholder}}" />

        <label for="toggleSearch" class="search__label">
            <div class="search__button"><div class="search__icon search__button--toggle"></div></div>
            <button class="search__button search__button--submit"><div class="search__icon"></div></button>
        </label>
    </div>
</form>
