<form class="search" id="{{id}}">
    <input type="checkbox" id="toggleSearch" class="search__toggle">
    <label for="toggleSearch" class="search__toggle__icon"><div class="search__toggle__icon__btn"></div></label>

    <div class="search__box">
        <input type="text" class="search__input" placeholder="{{placeholder}}" />
        {{{clear}}}
        <button class="search__btn" id="search"><div class="search__btn__icon"></div></button>
    </div>
</form>