.avatar {
    grid-area: avatar;

    line-height: 0;
    height: 128px;
    width: 128px;
    display: inline-block;
    position: relative;
    border-radius: 50%;

    &_mini {
        height: 24px;
        width: 24px;
    }

    &_middle {
        height: 40px;
        width: 40px;
    }

    &__img {
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}