<div class="box-round {{#if mini}}box-round_mini{{/if}} {{#if middle}}box-round_middle{{/if}}">
    <div class="box-round__wrapper">
        <img src="{{ imgSrc }}" class="box-round__img" id="{{ id }}">
    </div>
</div>