@import "src/themes";

.pin__view {
  padding: 0;
  overflow: hidden;
  margin: 15px 0 50px;

  width: auto;
  min-width: 200px;
  max-width: 65vw;

  min-height: 200px;
}

.pin__popup {
  &__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;

    &__img {
      object-fit: contain;
      object-position: center;
      height: 100%;
    }
  }

  &__info {
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    @include color-assign(background-color, secondary);
    transition: .2s ease-in-out;

    &__title, &__description {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
    &__title {
      font-weight: 600;
      margin: 5px 0;
    }
    &__user {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &__author {
        display: flex;
        align-items: center;

        .avatar {
          margin-right: 5px;
        }
      }
    }

  }
}
