// ---------------------------------------
// COLORS
// ---------------------------------------
$color-green: #0cce5b;
$color-green-dark: #098a48;

$color-red: #f8333c;
$color-red-dark: #bd262d;

$color-yellow: #ffc53a;
$color-yellow-dark: #e4a428;

$color-blue: #00a7e1;
$color-blue-dark: #017fab;

$color-white: #fdfdfd;

// ---------------------------------------
// OTHER VARIABLES
// ---------------------------------------
$box-shadow: 0 0 8px rgba(26, 26, 26, 0.1);

$box-shadow-primary: 2px 2px 5px 0 rgba(0, 0, 0, .2);
$box-shadow-secondary: 2px 2px 5px 0 rgba(0, 0, 0, .1);
$box-shadow-primary-hover: 5px 5px 15px 0 rgba(0, 0, 0, .2);

