@charset "UTF-8";
.avatar {
  grid-area: avatar;
  line-height: 0;
  height: 128px;
  width: 128px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
}

.avatar_mini {
  height: 24px;
  width: 24px;
}

.avatar_middle {
  height: 40px;
  width: 40px;
}

.avatar__img {
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.file-upload {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 10px auto;
}

.file-upload__input {
  display: none;
}

.file-upload__label {
  background: #0CCE6B;
  color: #ffffff;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px;
  display: block;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.file-upload:hover .file-upload__label {
  background: #08a455;
}

/* ------------------ Подложка ------------------ */
.modal-window__shadow {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: none;
  background-color: black;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  transition: opacity 0.15s ease;
}

.modal-window__shadow_show {
  pointer-events: auto;
  opacity: 0.6;
}

/* ------------------ Само окно ------------------ */
.modal-window {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
  z-index: 100;
}

.modal-window_active {
  opacity: 1;
}

.modal-window_moved,
.modal-window_active {
  pointer-events: auto;
  visibility: visible;
}

.modal-window_opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

/* ------------------ Кнопка закрыть ------------------ */
.modal-window__close {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal-window__close__icon {
  width: 10px;
}

/* ------------------ Обертка ------------------ */
.modal-window__wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
}

/* ------------------ Контент ------------------ */
.modal-window__window {
  position: relative;
  box-sizing: border-box;
  margin: 20px 0;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  border-radius: 25px;
  padding: 30px;
  width: 600px;
  max-width: 100%;
  opacity: 0;
  overflow: visible;
  transition: all 0.2s ease;
  transform: scale(0.9);
}

.modal-window_active .modal-window__window {
  transform: scale(1);
  opacity: 1;
}

.input-group {
  position: relative;
}

.input-group__field {
  width: 100%;
  min-height: 44px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;
  resize: vertical;
  transition: all 0.2s ease-in-out, height 0ms;
}

.input-group__field::-webkit-scrollbar {
  display: none;
}

.input-group__field_noresize {
  resize: none;
}

.input-group__field:focus {
  outline: none;
  border: 1px solid #0086e4;
}

.input-group__field:placeholder-shown {
  text-overflow: ellipsis;
}

.input-group__field:not(:placeholder-shown) + .input-group__label,
.input-group__field:focus + .input-group__label {
  color: #0086e4;
  background-color: #ffffff;
  padding: 0;
  font-size: 0.9rem;
  top: -5px;
  left: 15px;
  line-height: 10px;
}

.input-group__label {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 40px;
  color: #e0e0e0;
  padding: 0 5px;
  transition: all 0.2s ease-in-out;
}

.input-group__field:not(:placeholder-shown):not(:focus) + .input-group__label {
  color: #e0e0e0;
}

.error {
  color: #F8333C;
  display: flex;
  min-height: 20px;
  font-size: 0.9rem;
  padding-left: 15px;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.error_show {
  opacity: 1;
}

.input-group__field_error {
  border-color: #F8333C !important;
}

.input-group__field:not(:placeholder-shown) + .input-group__label_error,
.input-group__field:focus + .input-group__label_error {
  color: #F8333C !important;
}

.card__link {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.card {
  overflow: hidden;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;
  position: relative;
  will-change: transform;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card__actions {
  opacity: 1;
}

.card__img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.card__actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 19px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card__actions__like {
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  border: none;
  display: inline-block;
  background-color: transparent;
  fill: #f1f1f1;
  transition: all 0.3s ease-in-out;
}

.card__actions__like:hover, .card__actions__like__active {
  fill: #d62829;
  opacity: 1;
}

.card__actions__like:focus {
  outline: none;
}

.board {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.board__card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "first second" "first third";
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.board__card img {
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.board__card img:first-child {
  grid-area: first;
}

.board__card img:nth-child(even) {
  grid-area: second;
}

.board__card img:last-child {
  grid-area: third;
}

.board__title {
  display: flex;
  width: 100%;
  margin: 10px 0;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.board__date {
  font-weight: normal;
  margin: 5px 0;
  color: #5A6169;
}

.dropdown {
  display: none;
  width: 210px;
  max-height: 150px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px 15px;
  position: absolute;
  text-align: left;
  color: #1A1A1A;
  z-index: 2;
  outline: none;
  border-radius: 25px;
  background-color: #fefefe;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.dropdown::-webkit-scrollbar {
  width: 0;
}

.dropdown::-webkit-scrollbar-track {
  margin-right: 20px;
}

.dropdown__title {
  line-height: 2em;
}

.dropdown__item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.dropdown__item {
  display: block;
  position: relative;
  height: 2em;
  line-height: 2em;
  border-radius: 25px;
  padding-left: 15px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.dropdown__item__selected {
  background-color: #e0e0e0;
}

.dropdown__item:hover {
  background-color: #e0e0e0;
}

.dropdown__active {
  visibility: visible;
  display: inline-block;
}

.toggle {
  display: flex;
  align-items: center;
  grid-area: toggle;
  width: 3rem;
}

.toggle__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  background: #efefef;
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}

.toggle__label::after {
  content: "";
  position: absolute;
  left: 0.2rem;
  width: 1.05rem;
  height: 1.05rem;
  border-radius: 50%;
  background: #9baacf;
  transition: all 0.4s ease;
}

.toggle__label::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #0cce6b;
  opacity: 0;
  transition: all 0.4s ease;
}

.toggle__input {
  display: none;
}

.toggle__input:checked + .toggle__label::before {
  opacity: 1;
}

.toggle__input:checked + .toggle__label::after {
  left: 57%;
  background: #E4EBF5;
}

.labeled-toggle {
  display: grid;
  grid-template-areas: ".     toggle" "small toggle";
  margin: 20px 0;
}

.labeled-toggle .toggle {
  margin-left: auto;
}

.labeled-toggle :last-child {
  grid-area: small;
  font-size: small;
  color: #a3a5a7;
  margin: 0;
}

.notification {
  position: relative;
}

.notification__bell {
  color: white;
}

.notification__count {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: inline-block;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  background-color: #0cce6b;
  border-radius: 25px;
  padding: 0 5px;
  font-size: smaller;
  transition: all 0.3s ease-in-out;
}

.comment {
  position: relative;
  display: block;
  margin: 0 auto;
  min-height: 50px;
  padding: 10px 20px;
  color: black;
  border-top: 1px solid #e3e3e3;
}

.comment__author {
  display: block;
  font-weight: bold;
}

.comment__time {
  color: #777777;
  position: absolute;
  right: 20px;
  top: 5px;
}

.dialog {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 10px auto;
}
.dialog .avatar {
  min-width: 40px;
}

.dialog_unread {
  background-color: #f5f5f5;
}

.dialog__content {
  overflow: hidden;
  width: 100%;
  padding: 0 10px;
}

.dialog__content__user {
  font-weight: bolder;
}

.dialog__content__text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog__info {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: smaller;
}

.dialog__info__count {
  position: absolute;
  bottom: 0;
  display: inline-block;
  max-width: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #0cce6b;
  border-radius: 25px;
  padding: 0 6px;
  color: white;
}

.message {
  padding: 10px 20px;
  border-radius: 25px;
  color: #000;
  background-color: #e6e7ec;
  max-width: 600px;
  width: fit-content;
  position: relative;
  margin: 15px 0 20px;
  word-break: break-all;
}

.message_own {
  color: #fff;
  margin-left: auto;
  background-color: #0086e4;
}

.message__time {
  position: absolute;
  left: 10px;
  bottom: -20px;
  color: #5A6169;
}

.message__time__own {
  position: absolute;
  left: auto;
  right: 0;
}

.sidebar {
  width: 60px;
  height: calc(100vh - 60px);
  position: fixed;
  left: 0;
  top: 60px;
  grid-area: sidebar;
  background: #fff;
  z-index: 90;
  transition: 0.3s ease-in-out;
}

.sidebar__content {
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}

.sidebar__content::-webkit-scrollbar {
  display: none;
}

.sidebar__list {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 75px;
}

.sidebar__list__item {
  list-style: none;
  position: relative;
  width: 100%;
  height: 75px;
}
.sidebar__list__item__radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.sidebar__list__item > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.sidebar__list__item > a:hover {
  text-decoration: none;
}

.sidebar__list__item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.sidebar__toggler__icon {
  display: block;
  width: 60px;
  text-align: center;
  color: #bdbdbd;
  position: relative;
  transition: transform 0.2s;
}

.expand {
  width: 100vw;
}
@media only screen and (min-device-width: 450px) and (min-width: 450px) {
  .expand {
    width: 450px;
  }
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .expand {
    width: 300px;
  }
}

.rotate {
  transform: rotate(180deg);
  transform-origin: center center;
}

.sidebar__toggler {
  position: absolute;
  width: 100%;
  height: 75px;
  justify-content: end;
  align-items: center;
  top: 0;
  display: flex;
  background-color: #fff;
  z-index: 1;
}

.btn {
  display: flex;
  position: relative;
  cursor: pointer;
  height: 40px;
  min-height: 24px;
  line-height: 40px;
  padding: 0 1.5rem;
  overflow: hidden;
  background-color: white;
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  outline: none;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease-out;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.btn i, .btn svg {
  pointer-events: none;
}

.btn:hover {
  text-decoration: none;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn_round {
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btn_round_mini {
  width: 24px;
  height: 24px;
}

.btn_with-icon svg {
  display: inline-block;
  float: none;
  height: 50%;
  font-size: inherit;
  text-align: center;
  vertical-align: middle;
}

.btn[disabled] {
  cursor: default !important;
  color: #9e9e9e !important;
  background-color: #cdcdcd !important;
  box-shadow: none !important;
}

.btn[disabled]:hover {
  background-color: #cdcdcd !important;
}

/* ------- COLORS ------- */
.btn_red {
  color: #fafafa;
  background-color: #d62829;
}

.btn_red:hover {
  background-color: #c51718;
}

.btn_green {
  color: #fafafa;
  background-color: #ccf6c8;
}

.btn_green:hover {
  background-color: #b7f1b2;
}

.btn_blue {
  color: #fafafa;
  background-color: #0086e4;
}

.btn_blue:hover {
  background-color: #0066d9;
}

/* -------------------------------------------------------- SEARCH BTN IN NAVBAR */
.btn__link__common {
  position: absolute;
  display: flex;
  margin: 8px 10px;
  padding: 0;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  border-radius: 25px;
  background-color: #efefef;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
}

.btn__link__common:hover {
  text-decoration: none;
  background-color: #ccf6c8;
}

.image-upload__wrap {
  width: 100%;
  height: 96.3%;
  background-color: #fafafa;
  margin: 3px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 25px;
  align-content: flex-start;
  overflow: hidden;
  border: rgba(26, 26, 26, 0) 8px solid;
  transition: 0.3s ease-in-out;
}

.image-upload__wrap:hover, .image-upload_dropping {
  border: rgba(26, 26, 26, 0.1) 8px solid;
}

.image-upload__input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload__label {
  display: flex;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #e0e0e0;
  transition: 0.3s ease-in-out;
}

.image-upload__label__icon {
  font-size: 48px;
  margin: 10px auto;
}

.image-upload__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

.image-upload_error .image-upload__label {
  color: rgba(221, 28, 26, 0.5);
}

.image-upload__reset {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  opacity: 0;
}

.checkbox__label {
  margin: 0 5px;
  display: block;
  cursor: pointer;
}

.checkbox__group {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #28C4ae;
  border-radius: 5px;
}

.checkbox__input:checked + .checkbox__checked {
  opacity: 1;
}

.checkbox__checked {
  content: "";
  width: 4px;
  height: 10px;
  margin-top: -2px;
  border-right: 2px solid #28C4ae;
  border-bottom: 2px solid #28C4ae;
  opacity: 0;
  transform: rotate(30deg);
  transition: 0.2s;
}

.brand {
  padding: 0;
  display: inline-flex;
  margin: 0 auto 0 0;
  height: 60px;
  width: 100px;
  box-sizing: border-box;
  color: #252a32;
}

.brand:hover {
  color: #148cb8;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  min-height: 60px;
  color: #252a32;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(26, 26, 26, 0.1);
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
.navbar .navbrand {
  display: flex;
  flex-grow: 1;
  height: 60px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navbar .navbrand .burger {
  display: flex;
  margin-left: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  transition: all 0.3s ease;
}
.navbar .navbrand .burger-close {
  display: none;
}
.navbar .navbrand .burger.active .burger-open {
  display: none;
}
.navbar .navbrand .burger.active .burger-close {
  display: flex;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .navbar .navbrand .burger {
    display: none;
  }
}
.navbar .menu {
  list-style: none;
  height: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.navbar .menu-item {
  height: 45px;
}
.navbar .menu-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  color: #252a32;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.navbar .menu-link:hover {
  color: #148cb8;
}
.navbar .menu.active {
  height: auto;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .navbar .menu {
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    margin: 0;
  }
  .navbar .menu-item {
    padding: 0 40px;
    height: 60px;
  }
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
}
.search__toggle:checked ~ .search__field {
  width: calc(100% - 80px);
  border-width: 1px;
}
.search__toggle:checked ~ .search__field .search__input::placeholder {
  opacity: 1;
}
.search__toggle:checked ~ .search__field .search__close {
  left: -25px;
}
.search__toggle:checked ~ .search__field .search__button {
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.search__toggle:checked ~ .search__field .search__button--toggle {
  display: none;
}
.search__toggle:checked ~ .search__field .search__button--submit {
  display: flex;
}
@media only screen and (max-device-width: 460px) and (max-width: 460px), only screen and (max-device-width: 880px) and (max-width: 880px) and (min-device-width: 768px) and (min-width: 768px) {
  .search__toggle:checked ~ .search__field {
    position: fixed;
    background-color: white;
    left: 0;
    margin: 0;
    height: 50px;
    width: 100%;
    border-radius: 0;
    border-bottom: none;
    border-right: none;
    border-left: none;
    box-shadow: 0 7px 8px 0 rgba(26, 26, 26, 0.01);
    transform: translateY(52px);
  }
  .search__toggle:checked ~ .search__field .search__close {
    left: 10px;
    z-index: 1;
  }
  .search__toggle:checked ~ .search__field .search__input {
    padding: 5px 15px 5px 40px;
  }
}
.search__close {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateX(-50%);
  transition: 0.3s;
}
.search__close::before, .search__close::after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 3px;
  background-color: black;
}
.search__close::before {
  transform: rotate(45deg);
}
.search__close::after {
  transform: rotate(-45deg);
}
.search__field {
  position: absolute;
  right: 0;
  left: 50%;
  width: 40px;
  height: 45px;
  border: 0 solid #e0e0e0;
  border-radius: 50px;
  transform: translateX(-50%);
  transform-origin: right;
  transition: 0.3s;
}
.search__input {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: calc(100% - 40px);
  height: 100%;
  padding: 5px 15px;
  color: black;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 16px;
}
.search__input::placeholder {
  color: #aeaeae;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.search__label {
  cursor: pointer;
}
.search__button {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
.search__button--submit {
  display: none;
  border: 0;
}
.search__icon {
  position: relative;
  width: 19px;
  height: 19px;
}
.search__icon::before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50px;
}
.search__icon::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 8px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
  transform-origin: right;
}

.userbar {
  display: inline-flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  transition: 0.3s ease;
}
.userbar .avatar {
  margin-right: 10px;
}
.userbar:hover {
  background-color: #eaeaea;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.desk__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-auto-rows: 20rem;
  grid-gap: 2rem;
  margin: 20px auto;
  padding: 0;
}

.desk__grid li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.profile-card {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 12vh auto 20px;
  border-radius: 12px;
}
.profile-card__user-avatar {
  position: relative;
  display: inline-block;
}
.profile-card__user-info {
  text-align: center;
  line-height: 1.7rem;
  padding: 0;
  margin: 15px auto;
  list-style-type: none;
}
.profile-card__user-info li:last-child {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-card__user-info li:first-child {
  font-size: 1.3rem;
  font-weight: bold;
}
.profile-card__user-info .btn {
  margin: 0 5px;
}
.profile__edit {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}
.profile-desk {
  height: 100%;
  padding: 1rem;
  text-align: right;
}
.profile-desk__create {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(26, 26, 26, 0.08);
  padding: 0 0.5em;
  margin-left: 1em;
}
.profile-desk__create__linktext {
  display: none;
}
.profile-desk__create a {
  display: block;
  line-height: 3em;
  background-color: white;
  box-sizing: border-box;
  height: 3em;
  padding: 0 1em;
  border-radius: 25px;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .profile-desk__create {
    justify-content: flex-end;
    background-color: transparent;
    box-shadow: none;
  }
  .profile-desk__create a:first-child {
    margin-right: 20px;
  }
  .profile-desk__create__linktext {
    display: inline-flex;
  }
}
.profile-actions {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .profile-actions {
    justify-content: space-between;
  }
}
.profile-tabs {
  height: 3rem;
  width: 13rem;
  margin: 1em 0;
  background: #fff;
  font-weight: 600;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(26, 26, 26, 0.08);
}
.profile-tabs ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.profile-tabs li {
  display: flex;
  flex-grow: 1;
  padding: 0;
  justify-content: center;
  position: relative;
}
.profile-tabs label {
  position: relative;
  font-size: 0;
  line-height: 1rem;
  border-radius: 25px;
  width: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
  color: transparent;
  text-align: center;
  cursor: pointer;
}
.profile-tabs label svg {
  position: absolute;
  left: 1rem;
  width: 1.2rem;
  height: 1.2rem;
}
.profile-tabs input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.profile-tabs input:checked + label {
  background: rgba(26, 26, 26, 0.25);
  font-size: 1rem;
  width: 3rem;
  color: black;
  padding-inline-start: 3rem;
  transition: padding-inline-start 0.3s 0.25s linear, width 0.3s 0.25s linear, color 0.3s 0.5s linear, font-size 0s linear, background 0.3s linear;
}
.profile-tabs input:focus + label {
  outline: none;
}

.settings-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: 30px auto;
  background-color: white;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 2rem 5rem 3rem;
  box-shadow: 1px 2px 15px rgba(214, 214, 214, 0.4);
}
.settings-layout .file-upload {
  margin-bottom: 20px;
}

.content-grid {
  /* TODO: нормальная адаптивная плитка получится только с js */
  columns: 7;
  column-gap: 1rem;
  justify-content: center;
  /*flex-wrap: wrap;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1850px) {
  .content-grid {
    columns: 6;
  }
}
@media (max-width: 1580px) {
  .content-grid {
    columns: 5;
  }
}
@media (max-width: 1350px) {
  .content-grid {
    columns: 4;
  }
}
@media (max-width: 1100px) {
  .content-grid {
    columns: 3;
  }
}
@media (max-width: 850px) {
  .content-grid {
    columns: 2;
  }
}
@media (max-width: 580px) {
  .content-grid {
    columns: 1;
  }
}
.content-grid__item {
  display: inline-block;
  position: relative;
  width: 15rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}

.layout__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}

.wrap {
  overflow: hidden;
  border-radius: 25px;
  min-height: 370px;
  background-color: white;
  box-shadow: 1px 2px 15px rgba(214, 214, 214, 0.4);
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap {
    width: 80%;
    height: 85vh;
    max-width: 850px;
    max-height: 640px;
  }
}
.wrap__left, .wrap__right {
  box-sizing: border-box;
  height: 100%;
  float: left;
}

.wrap__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.wrap__right__title {
  width: 100%;
  padding-left: 10px;
  color: black;
}

.wrap__right__title__large {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 5px auto;
}

.wrap__right__title__small {
  font-size: 0.95rem;
  margin: 0 auto 25px;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__right {
    width: 55%;
  }
}
.wrap__left {
  display: none;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__left {
    display: flex;
    overflow: hidden;
    width: 45%;
  }

  .wrap__left img {
    object-position: center;
    object-fit: cover;
  }
}
.layout__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}

.wrap {
  overflow: hidden;
  border-radius: 25px;
  min-height: 370px;
  background-color: white;
  box-shadow: 1px 2px 15px rgba(214, 214, 214, 0.4);
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap {
    width: 80%;
    height: 85vh;
    max-width: 850px;
    max-height: 640px;
  }
}
.wrap__left, .wrap__right {
  box-sizing: border-box;
  height: 100%;
  float: left;
}

.wrap__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.wrap__right__title {
  width: 100%;
  padding-left: 10px;
  color: black;
}

.wrap__right__title__large {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 5px auto;
}

.wrap__right__title__small {
  font-size: 0.95rem;
  margin: 0 auto 25px;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__right {
    width: 55%;
  }
}
.wrap__left {
  display: none;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__left {
    display: flex;
    overflow: hidden;
    width: 45%;
  }

  .wrap__left img {
    object-position: center;
    object-fit: cover;
  }
}
.upload .wrap {
  flex-direction: column;
  width: 100%;
  margin: 5px;
}
.upload .wrap__left {
  display: flex;
  width: 100%;
  height: 15rem;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .upload .wrap {
    flex-direction: row;
  }
  .upload .wrap__left {
    display: flex;
    width: 45%;
    height: 100%;
  }
}

.layout__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}

.wrap {
  overflow: hidden;
  border-radius: 25px;
  min-height: 370px;
  background-color: white;
  box-shadow: 1px 2px 15px rgba(214, 214, 214, 0.4);
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap {
    width: 80%;
    height: 85vh;
    max-width: 850px;
    max-height: 640px;
  }
}
.wrap__left, .wrap__right {
  box-sizing: border-box;
  height: 100%;
  float: left;
}

.wrap__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.wrap__right__title {
  width: 100%;
  padding-left: 10px;
  color: black;
}

.wrap__right__title__large {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 5px auto;
}

.wrap__right__title__small {
  font-size: 0.95rem;
  margin: 0 auto 25px;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__right {
    width: 55%;
  }
}
.wrap__left {
  display: none;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__left {
    display: flex;
    overflow: hidden;
    width: 45%;
  }

  .wrap__left img {
    object-position: center;
    object-fit: cover;
  }
}
.board-creation .wrap {
  max-width: 600px;
  min-height: 430px;
}
.board-creation .wrap__right {
  width: 100%;
}
.board-creation .wrap__left {
  display: none;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .board-creation .wrap__left {
    display: none;
  }
}

.layout__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: auto;
}

.wrap {
  overflow: hidden;
  border-radius: 25px;
  min-height: 370px;
  background-color: white;
  box-shadow: 1px 2px 15px rgba(214, 214, 214, 0.4);
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap {
    width: 80%;
    height: 85vh;
    max-width: 850px;
    max-height: 640px;
  }
}
.wrap__left, .wrap__right {
  box-sizing: border-box;
  height: 100%;
  float: left;
}

.wrap__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.wrap__right__title {
  width: 100%;
  padding-left: 10px;
  color: black;
}

.wrap__right__title__large {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 5px auto;
}

.wrap__right__title__small {
  font-size: 0.95rem;
  margin: 0 auto 25px;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__right {
    width: 55%;
  }
}
.wrap__left {
  display: none;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrap__left {
    display: flex;
    overflow: hidden;
    width: 45%;
  }

  .wrap__left img {
    object-position: center;
    object-fit: cover;
  }
}
.pin__board {
  position: absolute;
  top: 0.5em;
  right: 0.5rem;
}
.pin__info {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em;
  border-bottom: 1px solid #d6d6d6;
}
.pin__info__title {
  margin: 10px 0;
  font-weight: 600;
}
.pin__info__author {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.pin__info__author .avatar {
  margin: 0 5px;
}
.pin__form {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  min-height: 109px;
  justify-content: center;
  align-items: center;
}
.pin__form .input-group {
  box-sizing: border-box;
  margin: 10px;
  width: 85%;
}
.pin__comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(85vh - 240px);
  min-height: 160px;
  padding: 0;
  margin: -1px 0;
  list-style: none;
  overflow-y: auto;
}
.pin__comments__empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #bebebe;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .pin__comments {
    height: calc(100% - 240px);
    min-height: calc(100% - 240px);
    max-height: 400px;
  }
}
.pin .wrap {
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 5px;
}
.pin .wrap__left {
  display: flex;
  width: 100%;
  height: 88vh;
  border-radius: 25px;
  overflow: hidden;
}
.pin .wrap__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pin .wrap__right {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  height: 85vh;
  min-height: 400px;
}
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .pin .wrap {
    flex-direction: row;
    max-width: 850px;
  }
  .pin .wrap__left {
    display: flex;
    width: 45%;
    height: 100%;
  }
  .pin .wrap__right {
    height: 100%;
  }
}

.chat {
  display: flex;
  height: calc(100vh - 80px);
  position: relative;
}

.chat__window {
  display: inline-block;
  width: 100%;
  padding-left: 60px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .content__expand {
    padding-left: 300px;
  }
}

.chat__window__messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 auto;
  overflow-y: auto;
  height: calc(100% - 120px);
  list-style: none;
  padding: 0 20px 20px;
  margin: 0;
}

.chat__window__messages::-webkit-scrollbar {
  display: none;
}

.chat__message__wrap {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
}

.message__received {
  align-self: flex-start;
}

.chat__window__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background-color: white;
}
.chat__window__footer .input-group {
  width: 80%;
  margin-right: 5px;
}

.desk__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-auto-rows: 20rem;
  grid-gap: 2rem;
  margin: 20px auto;
  padding: 0;
}

.desk__grid li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.board__info {
  max-width: 600px;
  text-align: center;
  margin: auto;
  padding: 20px 0;
}
.board__info h2 {
  margin: 0 0 10px;
  color: black;
}
.board__info p {
  margin: 0.5rem;
}
.board__content {
  text-align: right;
}

@media (max-width: 575px) {
  html {
    font-size: 15px;
  }
}
body {
  font-size: 1rem;
  font-weight: 300;
  color: #5A6169;
  background-color: #fafafa;
  /*background-color: #ffffff;*/
}

* {
  font-family: Gilroy, "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#app {
  margin-top: 70px;
}

/*# sourceMappingURL=index.css.map */
