@use "../layoutPresets/layout";

@import "./src/colors";
@import "./src/themes";

@mixin smallscreen {
    @media only screen and (max-device-width: 430px) and (max-width: 430px) {
        @content;
    }
}

.pin {
    &__actions {
        display: flex;
        flex-direction: row;

        .btn {
            margin: 15px 10px 0;
        }
    }

    &__board {
        position: absolute;
        top: .5em;
        right: .5rem;
    }

    &__info {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding: 0 1em;
        @include color-assign(border-bottom, accent, '1px solid THEMECOLOR');
        &__title {
            min-height: 1em;
            margin: 10px 0;
            font-weight: 600;
            word-wrap: break-word;
        }
        &__author {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            .avatar {
                margin: 0 5px;
            }
        }
        &__description {
            min-height: 2em;
        }
    }

    &__form {
        position: absolute;
        bottom: 0;

        display: flex;
        width: 100%;
        min-height: 109px;
        justify-content: center;
        align-items: center;

        .input-group {
            box-sizing: border-box;
            margin: 10px;
            width: 85%;
        }

        .wrap__right__title {
            padding: 0 1rem;
        }
    }

    &__comments {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(85vh - 290px);
        min-height: 160px;

        padding: 0;
        margin: -1px 0;
        list-style: none;

        overflow-y: auto;

        &__empty {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 5em;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include color-assign(color, font-color--secondary);
        }

        @include layout.largescreen {
            height: calc(100% - 290px);
            min-height: calc(100% - 290px);
            max-height: 400px;
        }
    }

    .wrap {
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        margin: 5px;

        &__left {
            display: flex;
            width: 100%;
            height: 88vh;
            border-radius: 25px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__right {
            position: relative;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0;
            height: 85vh;
            min-height: 400px;
        }

        @include layout.largescreen {
            flex-direction: row;
            max-width: 850px;

            &__left {
                display: flex;
                width: 45%;
                height: 100%;

                img {
                }
            }
            &__right {
                height: 100%;
            }
        }
    }
}

.share {
    width: auto;
    min-height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem !important;

    @include smallscreen {
        margin: 0 !important;
        height: 30vh !important;
        max-height: 30vh !important;
        width: 100vw;
    }

    &__title {
        width: 100%;
        margin: 5px 5px 10px;
        height: 2rem;
    }

    &__social {
        display: inline-flex;
        margin: 0.25rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
    }
}