.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
.wrapper::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.container {
    margin-top: 60px;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
}

.pin__card {
    width: 60vw;
    height: 85vh;

    position: relative;

    border-radius: 25px;
    overflow: hidden;
    font-size: 16px;

    box-shadow: 5px 5px 6px rgba(214, 214, 214, 0.6),
    -5px -5px 6px rgba(255, 255, 255, 0.8);

    display: grid;
    grid-template-areas: 'image info'
                         'image comments'
                         'image actions';
    grid-template-columns: .5fr .5fr;
    grid-template-rows: min-content;
}

.pin__card__image {
    grid-area: image;
    height: inherit;
    overflow: hidden;
}
.pin__card__image img {
    position: relative;
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.pin__info {
    grid-area: info;

    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;

    border-bottom: #e0e0e0 1px solid;
}
.pin__info__title {
    margin-bottom: 5px;
}
.pin__info__author {
    font-size: small;
}
.pin__info__description {
    margin: 5px 0;
}


.pin__comments__wrap {
    grid-area: comments;
    margin-bottom: 70px;
    overflow-y: auto;
}
.pin__comments {
    padding: 0 10px;
    text-align: start;

    list-style: none;
}


.pin__comment__add {
    grid-area: actions;

    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    box-sizing: border-box;
    height: 70px;
    margin: 10px 0;
    padding: 10px;

    display: grid;
    grid-template-areas: 'input btn';
    grid-template-columns: .75fr .25fr;
}
