.wrapper {
    text-align: center;
}

.container {
    display: inline-block;
}

/*.close {*/
/*    background: none;*/
/*    border: none;*/
/*    color: #aaa;*/
/*    font-size: 14px;*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    right: 10px;*/
/*    cursor: pointer;*/
/*    outline: 0;*/
/*}*/

.gallery-card {
    display: grid;
    width: 60vw;
    height: 80vh;
    box-shadow: 5px 5px 6px rgba(214, 214, 214, 0.6),
    -5px -5px 6px rgba(255, 255, 255, 0.8);
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    grid-template-columns: 0.6fr 1fr;
    grid-template-areas: 'image info';
}

.gallery-image {
    position: relative;
    grid-area: image;
    overflow: hidden;
}

.gallery-image img {
    position: relative;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.gallery-info {
    grid-area: info;
    padding: 0 20px 20px 25px;
    text-align: left;
}

.gallery-title {
    margin-bottom: 10px;
}
.gallery-author {
    font-size: small;
}

.gallery-description {
    margin: 20px 0 15px;
    font-size: 15px;
}

.gallery-actions, .gallery-tags {
    margin-bottom: 15px;
}

.gallery-actions span {
    margin-right: 10px;
    font-size: 14px;
}

.gallery-tags a {
    margin: 0 2px;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
    background-color: #eee;
    padding: 4px;
    border-radius: 3px;
}

.gallery-tags a:hover {
    text-decoration: none;
    background-color: #ddd;
}

.comment-add {
    display: block;
    margin-bottom: 20px;
}

.comment-add-user {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 20px);
    outline: 0;
    background-color: #fafafa;
    border-radius: 3px;
}

.gallery-comments {
    width: 60vw;
    height: 55vh;
    margin: 25px auto;
    text-align: start;

    overflow-y: auto;

    box-shadow: 5px 5px 6px rgba(214, 214, 214, 0.6),
                -5px -5px 6px rgba(255, 255, 255, 0.8);
    border-radius: 25px;

    box-sizing: border-box;
    padding: 20px;
}

.gallery-comments::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}
.gallery-comments::-webkit-scrollbar-track {
    box-shadow: inset 2px 2px 3px rgba(214, 214, 214, 0.6),
    inset -2px -2px 3px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.gallery-comments::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10px;
}
.gallery-comments::-webkit-scrollbar-thumb:hover {
    background: #cbcbcb;
}

.gallery-comments-list {
    list-style: none;
    padding-left: 0;
}