.sidebar__message {
    display: grid;
    grid-template-areas: "avatar content info";
    align-items: center;
    padding-right: 20px;
}

.sidebar__message__content {
    grid-area: content;
    overflow: hidden;
    padding-left: 3px;
}

.sidebar__message__info {
    grid-area: info;
}

.sidebar__message__content__user {
    font-weight: bold;
}
.sidebar__message__content__text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {
    align-self: flex-start;

    background: #fff;
    box-shadow: 5px 5px 6px rgba(214, 214, 214, 0.6);
    padding: 10px 25px;
    margin-bottom: 10px;
    border-radius: 25px;

}
.my {
    background-color: #f5fff9;
    align-self: flex-end;
}


.badge {
    display: block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #0CCE6B;

    color: white;
    font-size: small;
    text-align: center;

    margin: auto;
}

